body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color:  white;
}

h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}

hr {
  border: 0.5px solid white;
  margin-top: 0;
}

input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}

#title {
  position: relative;
}

.navbar {
  padding: 0.5em 4em ;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.navbar-brand {
  color: white !important;
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand:hover{
  color: white;
}

.nav-item {
  padding: 0 6px;
}

.nav-link {
  color: white !important;
  font-weight: bold;
}

.form-inline {
  margin-left: 12px;
}

.hero {
  background-image: url("../images/backdrop.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.hero-text {
  text-align: center;
  color: white;
  z-index: 1;
}

.overlay {
  height: 100%;
  width: 100%;
  background: black;
  opacity: .5;
  position: absolute;
}

#film {
  padding: 50px;
  text-align: center;
}

.row-card {
  margin-bottom: 30px;
}

#features {
  padding: 5% 10%;
  background-color: #5d3a3a;
  color: white;
}

.feature-box {
  text-align: center;
  margin: 20px;
}

.feature-img {
  margin-bottom: 10px;
}

.feature-img:hover {
  color: #5cb85c;
}

#footer {
  text-align: center;
  padding: 2% 15% 2%;
  background-color: white;
}

#footer p {
  padding-top: 2%;
}

#footer a {
  color: black;
}

.footer-logo {
  margin: 20px;
}
